*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.container .pra-fazer{
    background: rgba(229, 229, 31, 0.5);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;      
    border: 1px solid rgb(23, 22, 22);
    
}

.container .pra-fazer #pra-fazer-box{
    border-bottom: 2px solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background: red;
}
.container .pra-fazer #pra-fazer-box p{
    text-align: center;
}


.container .planejar{
    background: rgb(31, 146, 229, 0.5);
     border: 1px solid rgb(23, 22, 22);
}

.container .executar{
    background: rgb(31, 229, 44, 0.5);
     border: 1px solid rgb(23, 22, 22);
}

.container .revisar{
    background: rgb(226, 60, 18, 0.5);
     border: 1px solid rgb(23, 22, 22);
}

.container .ajustar{
    background: rgb(229, 31, 31, 0.5);
     border: 1px solid rgb(23, 22, 22);
}

.container .feito{
    background: rgb(1, 157, 11, 0.5); 
    border: 1px solid rgb(23, 22, 22);
}