*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://media.istockphoto.com/id/1287521051/pt/foto/table-with-tools-color-swatches-and-cups-left-after-renovation.jpg?s=612x612&w=0&k=20&c=qUXf2lDGjw-wtZgbzvNiYHx3j14aGqlpPtZRcqupQNw=);
    background-position: center;
    background-size: contain;
}

/*Barra de navegação*/
nav{
    background: rgba(0, 0, 0, 1);  
    margin-top: 0%;
    margin-bottom: 2%;
    

}

.navegacao ul{
    display: inline-flex;
    margin-left: 30%; 
    margin-right: 30%;   
    padding: 0.2%;
    justify-content: space-between; 
    list-style-type: none; 
    
}

nav ul li a{
    margin: 1vw;
    font-size: 2vw;
    color: red;     
    
}

/*Div principal*/
.container{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    
    
}

/*Botões*/

.list-button{
    list-style-type: none;  
    display: flex;
    padding-left: 180vh;
    
}
.list-button li{
    justify-content: space-between;
    margin-right: 10px;
   
    
       
}
.list-button li input{
    width: 18vh;
    height: 4vh;
    border-radius: 5px;
    border-style: solid 2vh;
}


/*Divs externas*/
.container .pra-fazer{
    background: rgba(229, 229, 31, 0.5);
    border: 0.1vw solid rgb(23, 22, 22);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;   
              
}

.container .planejar{
    background: rgb(31, 146, 229, 0.5);
    border: 0.1vw solid rgb(23, 22, 22);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;
}

.container .executar{
    background: rgb(31, 229, 44, 0.5);
    border: 0.1vw solid rgb(23, 22, 22);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;
}

.container .revisar{
    background: rgb(226, 60, 18, 0.5);
    border: 0.1vw solid rgb(23, 22, 22);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;
}

.container .ajustar{
    background: rgb(229, 31, 31, 0.5);
    border: 0.1vw solid rgb(23, 22, 22);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;
}

.container .feito{
    background: rgb(1, 157, 11, 0.5); 
    border: 0.1vw solid rgb(23, 22, 22);
    box-sizing: border-box;
    margin-top: 1%;
    width: 15%;
    padding-bottom: 30%;
}



/*Divs Internas*/

.container .pra-fazer #pra-fazer-box{
    border-bottom: 0.2vw solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;       
}

.container .planejar #planejar-box{
    border-bottom: 0.2vw solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%; 
    
}

.container .executar #executar-box{
    border-bottom: 0.2vw solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;       
}

.container .revisar #revisar-box{
    border-bottom: 0.2vw solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;       
}

.container .ajustar #ajustar-box{
    border-bottom: 0.2vw solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;       
}
.container .feito #feito-box{
    border-bottom: 0.2vw solid rgb(15, 14, 14);
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;       
}




/*Elementos da div interna*/
.container .pra-fazer #pra-fazer-box p{
    text-align: center;
    font-size: 1.5vw;
}

.container .planejar #planejar-box p{
    text-align: center;
    font-size: 1.5vw;
}

.container .executar #executar-box p{
    text-align: center;
    font-size: 1.5vw;
}

.container .revisar #revisar-box p{
    text-align: center;
    font-size: 1.5vw;
}

.container .ajustar #ajustar-box p{
    text-align: center;
    font-size: 1.5vw;
}

.container .feito #feito-box p{
    text-align: center;
    font-size: 1.5vw;
}

/*Listas das divs internas*/
.container .list{  
  list-style-type: none;
  padding-left: 2vh;
  padding-top: 0.5vh;
  font-size: 1.5vw;
  
}

/*Form do input*/
.form{
    background-color: rgba(255, 255, 255, 0.8); /* fundo branco */
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-radius: 5px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;  

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra */
    max-width: 500px; /* largura máxima */
    width: 50%; /* largura total */
    max-height: 80vh; /* altura máxima */
    
    
}

input {
    height: 150px;
    width: 300px;
    word-wrap: break-word;
    background-color: rgba(168, 227, 224, 0.4);
    justify-content: space-between;
  }

button{
    background-color:  rgba(255, 255, 255, 0.4);
    width: 80px;
    margin: 20px;
    cursor: pointer;
}

h3{
    padding-bottom: 10px;
    justify-content: center;
}